@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    margin: 0;
    background-color: #0a6c998e;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("images/back.png");
    background-size: cover;
    background-position: center;
}

form {
    padding: 20px;
    width: 300px;
    background-color: rgba(0, 174, 255, 0.397);
    border-radius: 40px;
    box-shadow: 0 0 50px 15px rgba(0, 174, 255, 0.493);
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: white;
    backdrop-filter: blur(10px);
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: #96cefcbb;
    border: 1px solid #96cefcbb;
    border: none;
    border-radius: 40px;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: white;
}

form input[type="email"]:focus,
form input[type="password"]:focus {
    border: none;
    border-bottom: 2px solid #96cefc;
    outline: 0;
    text-align: center;
}

input[type="submit"], button {
    width: 100%;
    background-color: #00c3ffa1;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    text-align: center;
    color: white;
}

input[type="submit"]:hover, button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0,255,255,0.5);
    border-style: dashed;
    border-color: rgba(0, 255, 255, 0.288);
}
